*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
#container{
    background-color: rgb(223, 144, 79); 
    width: 40%;
    height: 600px;
    margin: 1em auto;
    border-radius: 10px 9em 10px 9em;
}
.header{
    margin: auto;
    width: fit-content; 
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#controls{
    border:5px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    height: 15%;
    margin: .5em auto;
    border-radius: 7px;
    background-color: none;

}
#controls > button{
    padding: 8px;
    font-size: 1.1em;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    border-radius: 7px;
    cursor: pointer;
}
#dispCurrentSong{
    border: 5px solid white;
    width: 85%;
    height: 12%;
    margin: 1em auto;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#dispCurrentSong > p{
    color: black;
    font-size: 1.4em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#playlist{
    border: 5px solid white; 
    width: 85%;
    height: 200px;
    margin: 1em auto;
}
.dispButton{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    border-radius: 5px;
}
.display{
    color:black;
    font-size: 1.5em;  
   padding: 7px;
}
.songList{
    text-decoration: none;
}
 